body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input.week-day-selector {
  width: 60px !important;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 17px;
}

table.table tr td .badge {
  width: 20px;
  margin-right: 6px;
  position: relative;
  top: -1px;
}

@media only screen and (min-width: 768px) {
  table.table tr td .badge {
    width: 110px;
    margin-right: 10px;
  }
}

.WebsiteCardsContainer {
  display: flex;
  overflow-x: scroll;
  margin: 40px -10px;

  .WebsiteCard {
    margin: 10px;
  }
}

.App {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 10px 0;

  h1 {
    color: white;
  }
}

$logoSide: 60px;

.WebsiteCard {
  height: $logoSide + 30px;
  min-width: $logoSide;
  max-width: $logoSide;
  position: relative;
  cursor: pointer;
  
  img {
    background-color: #fff;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: $logoSide;
    border-radius: 12px;
    object-fit: cover;
  }

  .name {
    color: white;
    position: absolute;
    z-index: 1;
    top: $logoSide + 5px;
    left: 0;
    height: 20%;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    font-weight: 500;
  }
}

.white-transparent-box {
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
  padding: 15px 15px;
  margin-top: 20px;;
}

.WeekSelector {
  table {
    table-layout: fixed;
    
    tr > *:first-child {
      width: 60%;
    }

    td {
      padding-top: 6px;
      padding-bottom: 6px;

      // width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      p {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
